
   .highlighted{
    font-weight:bold;
    font-size:20px;
    color:burlywood;
    
    }
                  .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    
    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
    
    .feature-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      color: #fff;
      border-radius: .75rem;
    }
    
    .icon-link {
      display: inline-flex;
      align-items: center;
    }
    .icon-link > .bi {
      margin-top: .125rem;
      margin-left: .125rem;
      transition: transform .25s ease-in-out;
      fill: currentColor;
    }
    .icon-link:hover > .bi {
      transform: translate(.25rem);
    }
    
    .icon-square {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      border-radius: .75rem;
    }
    
    .rounded-4 { border-radius: .5rem; }
    .rounded-5 { border-radius: 1rem; }
    
    .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
    .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
    .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
    
    .card-cover {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
          body{
            background-image:url("");
            font-family: 'Courier New', Courier, monospace;
          }
    
    #name{
      margin-left:20px;
      margin-top:20px;
      font-family: candara, courier new;
      font-weight: bold;
      font-size: 20px;
    }
    
    #main{
      width:100%;
      height:100%;
      margin:0px auto;
      
    }
    #image{
      background-image: url("file:///C:/Users/ademola/Desktop/complete web developer/picture/imagesx.jpg");
      width:100%;
      height:100%
    }
    .tall{
      height:400px;
      width:30rem;
    }
    
    p{
      font-family: candara, courier New;
      text-align: center;
    }
    .txt{
      font-size: 30px;
      text-decoration-style: solid;
      text-align: center;
      
    }
    
    
    #dwn{
      width:100%;
      height:200px;
      background-color: black;
      margin-top:300px;
      position:relative;
    }
    #credits{
      width:200px;
      margin: 0px auto;
    }
    .lead{
      text-align: center;
    }
    #cmessage{
          resize:none;
          height:170px;
                  }
                  .b-example-divider {
      height: 2rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }        
    .blog-footer {
      padding: 2.5rem 0;
      color: #cccbcb;
      text-align: center;
      background-color: #413d3d;
      border-top: 
      .05rem solid #e5e5e5;
    }  
    #bigbg{
      height:600px !important;
    }        
    .move{
      margin-bottom: 200px !important;
      text-align:center !important;
    }
    a{
      color:cornsilk;
       text-decoration:none;
    }
    .mov{
      font-weight: bold;
    }
    .typed{
      font-size:50px;
      font-family:'Courier New', Courier, monospace;
      text-align: center;
    }
    .slide{
                   
                  
                    display: inline-block;
                    vertical-align: top;
                    opacity: 0;
                    box-sizing: border-box;
                    transition: all 1s ease;	
                    }
                    .col{
                      margin-bottom: 20px;
                    }
